.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {

		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

.wp-block-video figcaption {
	margin-bottom: 1.5em;
	max-width: 100%;
	margin: 0.8075em 0;
	font-style: italic;
	font-size: .8em;
}

@media screen and (max-width:795px) {

.wp-block-video	figcaption {
		padding-bottom: 10em;
	}
}
