.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	// display: inline-block;
}

@media screen and (min-width:875px) {
	.custom-logo {

	width: auto;
	height: 58px;
	margin-top:52px;
	position:absolute;
	right: 124px;
	}
}



@media screen and (max-width:875px) {

	.custom-logo {

	width: auto;
	height: 48px;
//padding-left: 5%;
//padding-right: 5%;
//margin-top: -72px;
float: none;
	}
}
/*
@media screen and (min-width:795px) {

	.video-clip {
		max-width: 40vw;
	}
}

*/
