body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1.2rem;
	line-height: $font__line-height-body;
}


.site-title {
	color: $color_title;
	font-weight: 200;
	font-size: 32px;
	margin: 0;
	margin-top:10px;
	a {
		color: $color_title;
		text-decoration: none;
			&:visited {
				color: $color_title;
								}
		}
}

.nav-menu {

	font-size: 16px;
}



.under-circle {
	font-size: 24px;
	color: #38393B;
	opacity: 1;
}



@import "headings";
@import "copy";
