body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	min-width: 285px;
.site-branding {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: -32px;
	max-height: 1em;
}
.wp-block-cover__image-background.wp-image-42 {
	height: auto;
	 min-height: 600px;
}

@media screen and (max-width:980px) {
	.boxy-mac-float {
margin-top: 22em;
width: 100%;
	}
}

@media screen and (max-width:599px) {
	#primary.splash {
	margin: 0 0 0 0;
				.splash-blurb {
					margin-left:2em;
					margin-right:2em;
				}

	}

}
/* @media screen and (min-width:600px) { */
#primary {
margin: 0 10% 0 10%;

}
/* } */

}

.width75 {
	width:75vw;
}

.width25 {
	width:25vw;
	margin-left: 0;
    margin-top: -108px;
		float: right;
}

@media screen and (max-width:875px) {
	.site-header{
		.width75 {
			width:100%;
			text-align: left;
		//	float: left;
		}

				.width25 {
					margin-top: -52px;
					margin-right: 40px;
			//	float: rigt;
			//	display:contents;
				// not float and dissplay block at 100 width
		}
	}
}



@media screen and (max-width:675px) {
	.site-header{
		.width75 {
			width:100%;
			text-align: left;
			height: 107px;
		//	float: left;
		}

				.width25 {
					margin-top: -60px;
					margin-right: 0;
					width: 100%;
					display:block;
			//	float: rigt;
			//	display:contents;
				// not float and dissplay block at 100 width
		}
	}
}


@media screen and (max-width:415px) {
	.site-header{
		.width75 {
			width:100%;
		height: 107px;
display: block;
		//	float: left;
		}

				.width25 {
					margin-top: -8px;
					margin-right: 0;
					width: 100%;
					display:block;
			//	float: rigt;
			//	display:contents;
				// not float and dissplay block at 100 width
		}
	}
}


@media screen and (max-width:255px) {
	.site-header{


				.width25 {
					margin-top: 0px;
					margin-right: 0;
					width: 100%;
					display:block;
			//	float: rigt;
			//	display:contents;
				// not float and dissplay block at 100 width
		}
	}
}






.big-blue-chunk {
	top: 831px;
left: 0px;
width: 100%;
margin-top: 1em;
	background: transparent linear-gradient(263deg, #255FCA 0%, #3E74EE 100%) 0% 0% no-repeat padding-box;
		text-align: center;
	p {
		font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-32)/46px var(--unnamed-font-family-red-hat-text);
		letter-spacing: var(--unnamed-character-spacing-0);
		font-size: 1.6em;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		padding-top: 100px;
	}
	button {
		font: normal normal bold 18px/23px Red Hat Text;
		letter-spacing: 0px;
		color: #FFFFFF;
	}
}




@media screen and (max-width:375px) {
.big-blue-chunk {
	margin-top: 0em;
	height:480px;
}
}


@media screen and (min-width:376px) {
.big-blue-chunk {
	margin-top: 0em;
	height:400px;
}
}

@media screen and (min-width:600px) {
.big-blue-chunk {
	margin-top: -1.75em;
	height: 320px;
}
}

@media screen and (min-width:600px) and (max-width:775px) {
.big-blue-chunk {
	margin-top: -6.75em;
	height: 320px;
}
}














/*
.purple-circle {

	margin-top: -9em;
}


*/

.circle-me {
	border: 2px solid #C293DA;
	border-radius: 90px;
	margin-right: 1.4em;

	padding: 20px 30px;
}



.c-accordion__title:after {

    color: #3E74EE;
font-size: 1.8em;

}
.makeroom {
	margin-top: 2em;
}

@media screen and (min-width:600px) {

.processlist {
margin-left: 4em;
margin-bottom: 3em;

height: 20em;
}
}


@media screen and (min-width:700px) {

.processlist {
margin-left: 4em;
margin-bottom: 1em;
height: 20em;
}
}

@media screen and (min-width:783px) {

.processlist {
margin-left: 4em;
margin-bottom: -1em;
height: 13em;
}
}

@media screen and (min-width:980px) {
.processlist {
margin-left: 4em;
margin-bottom: -2em;
height: 10em;
}
}

@media screen and (min-width:1150px) {
.processlist {
margin-left: 4em;
margin-bottom: -3em;
height: 10em;
}
}


.processlist {
margin-left: 4em;
// height: 10em;
}

.front-content {
	width: 15em;
	height: 15em;

}

p.front-content {
	font-size: 1.4em;
	font-weight: 900;
}

.site-info {
float:left;
width: 50%;
margin-left: 139px;

p {
	color: $color_h;
}

p.terms {

color: #6A6D70;

a.terms {
	color: #6A6D70;

	&:visited {
		color: #6A6D70;
	}

	&:hover,
	&:focus,
	&:active {
		color: #6A6D70;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

}

}

}


@media screen and (max-width:475px) {
	.site-info {
	float:none;
	width: 80%;
	margin-left: 15px;
}
}







/*  Request Media Page */

.stock-contact {
	padding-bottom: 6em;
}




 .grey-front-p {
	 color:#38393B;
	 font-size: 16px;
	 background-color: #F0F2F2;
	 margin-top: 8em;
}






@media screen and (max-width:2400px)  {

	.grey-front-p {
 	margin-top: 16.1em;

 }
}


@media screen and (max-width:1800px)  {

	.grey-front-p {
 	margin-top: 14.1em;

 }
}

@media screen and (max-width:1750px)  {

	.grey-front-p {
 	margin-top: 13.4em;

 }
}

@media screen and (max-width:1740px)  {

	.grey-front-p {
 	margin-top: 13.2em;

 }
}


@media screen and (max-width:1700px)  {

	.grey-front-p {
 	margin-top: 11.2em;

 }
}


@media screen and (max-width:1630px)  {

	.grey-front-p {
 	margin-top: 10.2em;

 }
}

@media screen and (max-width:1576px)  {

	.grey-front-p {
 	margin-top: 9em;

 }
}

@media screen and (max-width:1575px)  {

	.grey-front-p {
 	margin-top: 7.8em;

 }
}

@media screen and (max-width:1520px)  {

	.grey-front-p {
 	margin-top: 7.3em;

 }
}

@media screen and (max-width:1500px)  {

	.grey-front-p {
 	margin-top: 7em;

 }
}


@media screen and (max-width:1467px)  {

	.grey-front-p {
 	margin-top: 6.4em;

 }
}

@media screen and (max-width:1240px) {
	.grey-front-p {
	margin-top: 6.8em;
}
}



@media screen and (max-width:1075px) {
	.grey-front-p {
	margin-top: 6em;
}
}

@media screen and (max-width:1032px) {
	.grey-front-p {
	margin-top: 6.4em;
}
}


@media screen and (max-width:980px) {
	.grey-front-p {
	margin-top: -5.4em;
}
}

 @media screen and (max-width:599px) {
	.front-column-circle {
		margin-top: -9em;
	}
}

@media screen and (min-width:600px){
.front-column-circle {
	margin-top: -9em;
	padding-left: 2%;
	padding-right: 2%;
}
}



@media screen and (min-width:1678px){
.front-column-circle {
	margin-top: -9em;
	padding-left: 15%;
	padding-right: 15%;
}
}






@media screen and (min-width:782px) {

.front-grey-background {
	margin-top:16em;
	height: 25em;
	margin-bottom: -6em;
}
}


@media screen and (max-width:781px) {
.front-grey-background {
	margin-top:16em;
	height: 63em;
	margin-bottom: -3em;

}
}








// front contents the white white-square

p.front-content {

	width: 422px;
	height: 342px;
}


@media screen and (max-width:3200px) {
 .front-content {
	 height: 15em;
	 width: 15em;
 }
}

@media screen and (max-width:980px) {
 .front-content {
	 height: 8em;
 }
}

@media screen and (max-width:475px) {
 p.front-content {
	 width:100%;
	 height: auto;
 }
}





.front-content-logo {

	margin-left: 2em;
	padding-top: 2em;
	position: relative;
    top: 15px;
}

.footer-logo {
float: right;
width: 172px;
height: 48px;
margin-top:20px;
margin-right: 139px;
}


@media screen and (max-width:745px) {

	.footer-logo {
		float:none;
	width: 60%;
	height: auto;
margin-left: 20vw;
margin-right: 20vw;
margin-top: 0;
	}
}



@media screen and (max-width:599px) {
 .site-footer {
	 margin-top: 0em;
 }
}

@media screen and (min-width:600px) {
 .site-footer {
	 margin-top: 6em;
 }
}



.white-square {

	margin-left: 8.7%;

}


.annoying-triangle {
	font-size: 22px;
}


.small-annoying-triangle {
	font-size: 18px;
}


/* ABout Us title page-12 template */

.page12-title {
	margin-left: 10%;
}

#post-12 {
margin-top: -17em;
margin-left: 0;
position: relative;
    background-color: #fff;


	.entry-content {
		margin: 0 5em 0 5em;
	}

}


/* licensing page  */
#clip-licensing {
	padding-top: 3em;
}

a.featured-clips {
	color: #fff;
}


.c-accordion__title:after {
	font-weight: 800;
}

/* Licesing page page-10 */


.license-background {
	top: -1003px;
	z-index: -1;
	height: 586px;
	    margin-bottom: -500px;
}



.inner-inner-content {
			padding-left: 15%;
	    padding-right: 15%;
			background-color: #FFFFFF;
			margin-top: 275px;
			    padding-top: 100px;
}


/* ABout us seperator */

.grey-separator {
	border: 1px solid var(--gray-2-c3c6c9);
	border: 1px solid #C3C6C9;
	opacity: 1;
	height: 0px;
}


/* faq inner-inner-faq */

.inner-inner-faq {
	padding-left: 15%;
	padding-right: 15%;
	background-color: #FFFFFF;
}

/* request media page */
div.mind-the-gap-request {

	gap: 10em;
}


.with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=file], .with_frm_style input[type=search], .with_frm_style select, .with_frm_style .frm-card-element.StripeElement {
background: #F0F2F2 0% 0% no-repeat padding-box;
height: 70px;
	}

.frm_full textarea {
	background: #F0F2F2 0% 0% no-repeat padding-box;
	height: 342px;
}


.with_frm_style input[type=text], .with_frm_style input[type=password],
.with_frm_style input[type=email], .with_frm_style input[type=number],
.with_frm_style input[type=url], .with_frm_style input[type=tel],
.with_frm_style input[type=phone], .with_frm_style input[type=search],
.with_frm_style select, .with_frm_style textarea, .frm_form_fields_style,
.with_frm_style .frm_scroll_box .frm_opt_container,
.frm_form_fields_active_style, .frm_form_fields_error_style,
.with_frm_style .frm-card-element.StripeElement,
.with_frm_style .chosen-container-multi
.chosen-choices, .with_frm_style .chosen-container-single .chosen-single {
box-shadow: none;
border-style: none;
border-color: #FFFFFF;

}
.frm_fields_container{
.frm_submit {
button.frm_button_submit {
//margin-left: 323px;
margin-top: 41px;
border-radius:38px;
background: #2B72F6 0% 0% no-repeat padding-box;
width: 238px;
height: 60px;
}
}
}
